<!doctype html>

<head>
    <title>Xen Delta</title>
    <%= include /partials/header.ejs %>
</head>
<body>


<article class="uk-article section-white">
    <h1 class="uk-article-title">About Xen Delta</h1>
    <p class="uk-article-meta">Written by <%= about.date%>.</p>
    <p class="uk-article-lead"><%= about.title%></p><br />       
     <%- about.body%>

            
</body>
<%= include /partials/footer.ejs %>
    </html>
