<!doctype html>

<head>
    <title>PHI | Blog</title>
    <%= include /partials/header.ejs %>
</head>

<body class="main">
    <div class="content">
        <div class="body">
            <div>
                <% for(var i=0; i<posts.length; i++) { %>
                    <article>
                        <h2 class="uk-article-title">
                         <a href="/post/<%= posts[i].url %>">
                            [<%= posts[i].type %>] <%= posts[i].title %></a>
                        </h2>
                        <p class="uk-article-meta">Written by
                            <%= posts[i].author %> on
                                <%= posts[i].date %>.</p> <a href="/post/<%= posts[i].url %>">     
                            <img width="600" height="300" src="<%= posts[i].img %>" alt=""></a>
                        <% if(posts[i].body.length > 256) {%>
                            <p>
                                <%= posts[i].body.substring(0,256) %>...</p>
                            <% }else{ %>
                                <p>
                                    <%= posts[i].body %>
                                </p>
                                <% } %>
                                    <p> <a class="uk-button uk-button-primary" href="/post/<%= posts[i].url %>">Continue Reading</a>
                                        <a class="uk-button" href="/post/<%= posts[i].url %>#comments">
                                            <%= posts[i].comments.length %> Comments</a>
                                    </p>
                    </article>
                    <br>
                    <hr>
                    <% } %>
                        <div>
                            <ul class="uk-pagination">
                                <% if(page != 1) {%>
                                    <li class="uk-disabled"><a href="/blog/1"><span><i class="uk-icon-angle-double-left"></i></span></a></li>
                                    <% } %>
                                        <% if(page != 1) {%>
                                            <li>
                                                <a href="/blog/<%= 1*page-1 %>">
                                                    <%= 1*page-1 %>
                                                </a>
                                            </li>
                                            <% } %>
                                                <li class="uk-active"><span><%= 1*page %></span></li>
                                                <% if(pageCount != page) {%>
                                                    <li>
                                                        <a href="/blog/<%= 1*page+1 %>">
                                                            <%= 1*page+1 %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <% if(page != pageCount) {%>
                                                            <li><a href="/blog/<%= 1*pageCount %>"><i class="uk-icon-angle-double-right"></i></a></li>
                                                            <% } %>
                            </ul>
                        </div>
            </div>
        </div>
    </div>
</body>
<%= include /partials/footer.ejs %>

    </html>
