<!doctype html>

<head>
    <title>PHI | Home</title>
    <%= include /partials/header.ejs %>
</head>

<body class="main">
    <div class="content">
        <article> <img src="<%= home.img %>" width="600" alt="">
            <h1 class="uk-article-title">
                            <%= home.title %>
                        </h1>
            <p>
                <%- home.body %>
            </p>
        </article>
    </div>
</body>
<%= include /partials/footer.ejs %>

    </html>
