<!doctype html>

<head>
    <title>Xen Delta</title>
    <%= include /partials/header.ejs %>
</head>

<body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <div class="uk-width-medium-1-1">
            <article>
                <h1 class="uk-article-title">
                            <%= home.title %>
                        </h1>
                <p class="uk-article-meta">Written on
                    <%= home.date %>.</p> <img width="900" height="300" src="<%= home.img %>" alt="">
                <p>
                    <%- home.body %>
                </p>
            </article>
        </div>
</body>
<%= include /partials/footer.ejs %>

    </html>
