<!doctype html>

<head>
    <title>PHI | Positions</title>
    <%= include /partials/header.ejs %>
</head>

<body class="main">
    <div class="content">
        <h1>Positions</h1>
        <p>Join Us!</p>
    
    <div class="body">
        <div>
            <% for(var i=0; i<positions.length; i++) { %>
                <article>
                    <h2 class="uk-article-title"><%= positions[i].title %></h2>
                    <p class="uk-article-meta">Added on
                        <%= positions[i].date %>.</p>
                    <p>
                        <%= positions[i].body %>
                    </p>
                </article>
                <hr>
                <% } %>
        </div>
    </div></div>
</body>
<%= include /partials/footer.ejs %>

    </html>
