<!doctype html>

<head>
    <title>PHI | Profile</title>
    <%= include /partials/header.ejs %>
</head>

<body class="main">
    <div class="content">
        <div class="body">
            <article class="uk-article section-white">
                <h1 class="uk-article-title">Profile Page</h1>
                <p class="uk-article-lead"> <strong>id</strong>:
                    <%= user._id %>
                        <br> <strong>name</strong>:
                        <%= user.local.name %>
                            <br> <strong>email</strong>:
                            <%= user.local.email %>
                                <br> <strong>newsletter</strong>:
                                <%= user.local.newsletter %>
                                    <hr>
                                    <% for(var i=0; i<user.local.permissions.length; i++) { %>
                                        <li> [
                                            <%= user.local.permissions[i] %>] </li>
                                        <% } %>
            </article>
        </div>
    </div>
</body>
<%= include /partials/footer.ejs %>

    </html>
